/* --------------------------------

Primary style

-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f8f8f8;
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  body {
    background: url('../img/background.jpg') no-repeat center -150px scroll;
    background-size: auto;
  } 
}

h1 {
  font-weight: 700;
  padding-top: 2em;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.light h1 {
  color: rgba(80, 80, 80, 1);
}

.dark h1 {
  color: rgba(250, 250, 250, 1);
}

h2 {
  font-weight: 300;
  font-size: 1.2em;
  padding-bottom: 2em;
  text-align: center;
  color: rgba(100, 100, 100, 1);
}

.light h2 {
  color: rgba(100, 100, 100, 1);
}

.dark h2 {
  color: rgba(230, 230, 230, 1);
}

/*******************************************************************************

Main Components

*******************************************************************************/

.social img {
  height: 8em;
  width: auto;
}

@media only screen and (max-width: 767px) {
  .social img {
    height: 4em;
  }
}

.social a {
  line-height: 5vh;
}

.roundImage:hover {
  border-color: blue;
}

.centeredText {
  text-align: center;
  margin-top: 2em;
}

.centered {
  text-align: center;
  margin: auto;
}

.textLeft {
  vertical-align: middle;
  display: table-cell;
}

.fullWidth {
  width: 100%;
}

.textRight {
  vertical-align: middle;
  display: table-cell;
}

.shadowedImg {
  vertical-align: middle;
  display: table-cell;
  width: 30vw;
  margin-right: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgLeft {
  margin-right: 2em;
}

.imgRight {
  margin-left: 2em;
}

.row {
  display: table;
}

.subContainer {
  width: 80vw;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 5vh;
}

/*******************************************************************************

BARRE DE NAVIGATION

*******************************************************************************/

#navigationBar {
  position: fixed;
  bottom: 0px;

  width: 100%;

  background-color: rgba(250, 250, 250, 0.8);

  padding-left: 2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;

  color: #555;
  text-transform: uppercase;

  box-shadow: 0 5px 5px 2px rgba(1,1,1,1);
}

#navigationBar a {
  color: #555;
  font-size: 1em;
  text-decoration: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: 0.4s;
}

#navigationBar a:hover {
  color: #111;
}

#navigationBar .lastItem {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  float: right;
}

#navigationBar img {
  height: 1.7em;
}

#navigationBar img:hover {
  filter: brightness(0.5);
}

@media only screen and (max-width:600px) {
    #navigationBar a {
        padding-left: 0.3em;
    }
}

/*******************************************************************************

PREMIÈRE PAGE

*******************************************************************************/

#presentation {
  height: 100vh;
}

#names {
  padding-top: 2vh;
  padding-right: 2vw;

  color: white;
  font-weight: 300;
  font-size: 5em;
  text-align: right;
}

#event-date {
  vertical-align: top;
  font-size: 0.4em;
  margin-right: 2px;
}

#countdown {
  padding-left: 2vw;

  color: white;
  font-weight: 700;
  font-size: 1.5em;
  text-align: left;

  position: absolute;
  bottom: 2em;
}

@media only screen and (max-width:767px) {
    #names {
        font-size: 3em;
    }
}

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:75%;
  margin-left:-5em;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
}

.arrow {
  float: left;
  position: relative;
  height: 35px;
  width: 35px;
  transform: rotate(-135deg);
  transform-origin: center center;
  border-top: 1px solid rgba(255, 255, 255 ,0.8);
  border-left: 1px solid rgba(255, 255, 255 ,0.8);
  margin-left: -3px;
  margin-right: -3px;
  margin-bottom: -3px;
  box-shadow: -2px -2px 2px 0px rgba(50, 50, 50, 0.3);
}

@keyframes arrowAnimation {
    0%    { top: 0; }
    5%    { top: 12%; }
    10%   { top: 0%; }
    15%   { top: 12%; }
    20%   { top: 0; }
    25%   { top: 12%; }
    30%   { top: 0; }
    100%  { top: 0; }
  }
  
.arrow-wrap .arrow {
  animation: arrowAnimation 5s 0.4s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}

/*******************************************************************************

STD

*******************************************************************************/

#SaveTheDate {
  width: 100%;
}

#SaveTheDate iframe {
  display: block;
  margin: 0 auto;
  height: 93vh;
  width: 100%;
}

/*******************************************************************************

RUBRIQUES

*******************************************************************************/

.category_container:nth-child(2n+1) {
  background-color: #f8f8f8;
}

.category_container:nth-child(2n+2) {
  background-color: #A8BDD9;
}

#hebergements {
  
}

#covoiturage {
  height: 100vh;
}

#planning {
  padding-bottom: 6em;
}

/*******************************************************************************

PLANNING

*******************************************************************************/

.planning_items_container {
  width: 90%;
  padding-top: 5em;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.planning_item {
  display:inline-block;
  vertical-align: top;
  border-color: gray;
  margin-left: 1em;
  width: 180px;
  padding-bottom: 1.5em;
}

.planning_item_photo {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  width: 150px;
  border: 10px solid #ccc;
}

.planning_item_photo:hover {
  border-color: inherit;
}

.planning_item_title {
  padding-top: 0.4em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}

.planning_item_separator {
  display: block;
  margin: 0 auto;
  width: 112px;
  height: 2px;
  border-bottom: 2px solid;
  border-color: inherit;
}

.planning_item_time {
  padding-top: 1em;
  padding-bottom: 0.4em;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
}

.planning_item_text {
  padding-top: 1.5em;
  text-align: center;
  font-weight: 300;
}

.planning_item:nth-child(5n+1) {
  border-color: rgb(10,54,94);
}

.planning_item:nth-child(5n+2) {
  border-color: rgb(94,127,64);
}

.planning_item:nth-child(5n+3) {
  border-color: rgb(176,194,215);
}

.planning_item:nth-child(5n+4) {
  border-color: rgb(131,27,45);
}

.planning_item:nth-child(5n+5) {
  border-color: rgb(151,186,163);
}

/*******************************************************************************

HEBERGEMENTS

*******************************************************************************/

.hebergement_group {
  float: left;
  max-width: 260px;
  margin: 0 1em 1em 1em;
}

.hebergement_group_title {
  font-weight: bold;
  padding: 1em;
  font-size: 1.1em;
}

.hebergement_group_text, li {
  font-size: 0.8em;
}

.hebergement_sub_group {
  padding-bottom: 1em;
}

.hebergement_group_sub_title {
  font-weight: bold;
  font-size: 0.8em;
}

.hebergement_disclaimer {
  display: inline-block;
  font-size: 0.8em;
}

/*******************************************************************************

MAP

*******************************************************************************/

#map {
  height: 95vh;
  width: 100%;
}

/*******************************************************************************

RSVP

*******************************************************************************/

.rsvp_iframe {
  margin-top: 1em;
  width: 100%;
}

/*******************************************************************************

RSVP

*******************************************************************************/

.listeText {
  width: 70%;
}

.liste-button
{
  border: none;
  border-radius: 10px;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 2em;
  color: #A8BDD9;
  text-decoration: none;
}

.liste-blue
{
  padding: 0.5em;
  background-color: rgb(248, 248, 248);
  border-bottom: 5px solid #a0afc1;
  text-shadow: 0px -1px #a0afc1;
}

.liste-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

.aerated-p {
  margin-top: 1em;
}

/*******************************************************************************

FORMULAIRE

*******************************************************************************/

#form {
  display: table-cell;
  width: 30vw;
  margin: 0 auto;
  margin-left: 10vw;
  padding-bottom: 8em;
}

.songDisclaimer {
  color: #555;
  margin-bottom: 1em;
}

input {
  width: 100%;
  padding: 9px 15px;
  background: rgba(255,255,255,0.7);
  border: 0.1px solid rgba(0, 0, 0, 0.15);
  font-size: 1em;
  color: #555;
  border-radius: 7px;
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Quicksand', sans-serif;
}

textarea {
  width: 100%;
  padding: 9px 15px;
  background: rgba(255,255,255,0.7);
  border: 0.1px solid rgba(0, 0, 0, 0.15);
  font-size: 1em;
  color: #555;
  resize: none;
  border-radius: 5px;
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Quicksand', sans-serif;
}

#submit {
  font-size: 1.4em;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Annie Use Your Telescope', cursive;
}

#instagram {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  width: 30vw;
  margin: 0 auto;
  padding-top: 2em;
  padding-left: 1em;
}

.pills {
    margin: 0;
    padding: 0;
    text-transform: uppercase
    margin-bottom: 1em;
    padding-bottom: 1em;
}

@media only screen and (max-width:767px) {
    .pills {
        font-size: 11px
    }
}

.pills a {
    -webkit-transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
    color: gray;
    display: inline-block;
    padding: 9px 10px;
    text-decoration: none
}

.pills a:hover {
    color: #A8BDD9
}

.pills__list {
    margin: 0
}

@media only screen and (max-width:767px) {
    .pills__list {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
}

.pills__item {
    display: inline-block;
    position: relative;
}

.pills__item.is__active {
    font-weight: bold;
}

.pills__item.is__active::after {
    border-bottom: 2px solid #A8BDD9;
    bottom: 0;
    content: '';
    left: 5px;
    position: absolute;
    right: 5px;
}

.pills__guestbook li {
    margin: 0 5px;
}

.pills__guestbook li:last-child {
    margin-right: 0;
}

.pills__guestbook li:first-child {
    margin-left: 0;
}

.pills--boxed .pills__item {
    border: 1px solid transparent;
}

.pills--boxed .pills__item.is__active {
    background: #fff;
    border-color: #e4e4e4;
}

.pills--boxed .pills__item.is__active::after {
    display: none;
}

.cursor-pointer {
  cursor: pointer;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       