/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f8f8f8;
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  body {
    background: url('../img/background.jpg') no-repeat center -150px scroll;
    background-size: auto;
  } 
}

h1 {
  font-weight: 700;
  padding-top: 2em;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.light h1 {
  color: rgba(80, 80, 80, 1);
}

.dark h1 {
  color: rgba(250, 250, 250, 1);
}

h2 {

  font-weight: 300;
  font-size: 1.2em;
  padding-bottom: 2em;
  text-align: center;
  color: rgba(100, 100, 100, 1);
}

.light h2 {
  color: rgba(100, 100, 100, 1);
}

.dark h2 {
  color: rgba(230, 230, 230, 1);
}

/*******************************************************************************

Main Components

*******************************************************************************/

.dark {
  background-color: #A8BDD9;
}

.light {
  background-color: #f8f8f8;
}

.social img {
  height: 8em;
  width: auto;
}

@media only screen and (max-width: 767px) {
  .social img {
    height: 4em;
  }
}

.social a {
  line-height: 5vh;
}

.roundImage {
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  width: 150px;
  border: 5px solid red;
}

.roundImage:hover {
  border-color: blue;
}

.centeredText {
  text-align: center;
  margin: 20vh;
}

.textLeft {
  vertical-align: middle;
  display: table-cell;
}

.textRight {
  vertical-align: middle;
  display: table-cell;
}

.imgLeft {
  vertical-align: middle;
  display: table-cell;
  width: 30vw;
  margin-right: 2em;
}

.imgRight {
  vertical-align: middle;
  display: table-cell;
  width: 30vw;
  margin-left: 2em;
}

.row {
  display: table;
}

.subContainer {
  width: 80vw;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 5vh;
}

/*******************************************************************************

BARRE DE NAVIGATION

*******************************************************************************/

#navigationBar {
  position: fixed;
  bottom: 0px;

  width: 100%;

  background-color: rgba(250, 250, 250, 0.8);

  padding-left: 2em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;

  color: #555;
  text-transform: uppercase;

  box-shadow: 0 5px 5px 2px rgba(1,1,1,1);
}

#navigationBar a {
  color: #555;
  font-size: 1em;
  text-decoration: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  transition: 0.4s;
}

#navigationBar a:hover {
  color: #111;
}

#navigationBar .lastItem {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.4em;
  float: right;
}

#navigationBar img {
  height: 1.7em;
}

#navigationBar img:hover {
  filter: brightness(0.5);
}

@media only screen and (max-width:600px) {
    #navigationBar a {
        padding-left: 0.3em;
    }
}

/*******************************************************************************

PREMIÈRE PAGE

*******************************************************************************/

#presentation {
  height: 100vh;
}

#names {
  padding-top: 2vh;
  padding-right: 2vw;

  color: white;
  font-weight: 300;
  font-size: 5em;
  text-align: right;
}

#countdown {
  padding-left: 2vw;

  color: white;
  font-weight: 700;
  font-size: 1.5em;
  text-align: left;

  position: absolute;
  bottom: 2em;
}

@media only screen and (max-width:767px) {
    #names {
        font-size: 3em;
    }
}

/*******************************************************************************

STD

*******************************************************************************/

#SaveTheDate {
  width: 100%;
}

#SaveTheDate iframe {
  display: block;
  margin: 0 auto;
  height: 93vh;
  width: 100%;
}

/*******************************************************************************

RUBRIQUES

*******************************************************************************/

#hebergements {
  height: 100vh;
}

#covoiturage {
  height: 100vh;
}

#planning {
  height: 100vh;
}

/*******************************************************************************

MAP

*******************************************************************************/

#map iframe {
  height: 100vh;
  width: 100%;
}

/*******************************************************************************

FORMULAIRE

*******************************************************************************/

#form {
  display: table-cell;
  width: 30vw;
  margin: 0 auto;
  margin-left: 10vw;
  padding-bottom: 8em;
}

.songDisclaimer {
  color: #555;
  margin-bottom: 1em;
}

input {
  width: 100%;
  padding: 9px 15px;
  background: rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0.4);
  font-size: 14px;
  color: #555;
  border-radius: 5px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

textarea {
  width: 100%;
  padding: 9px 15px;
  background: rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0.4);
  font-size: 14px;
  color: #555;
  resize: none;
  border-radius: 5px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

#submit {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.33);
}

#instagram {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  width: 30vw;
  margin: 0 auto;
  padding-top: 2em;
  padding-left: 1em;
}

.pills {
    margin: 0;
    padding: 0;
    text-transform: uppercase
    margin-bottom: 1em;
    padding-bottom: 1em;
}

@media only screen and (max-width:767px) {
    .pills {
        font-size: 11px
    }
}

.pills a {
    -webkit-transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: color 250ms cubic-bezier(0.19, 1, 0.22, 1);
    color: gray;
    display: inline-block;
    padding: 9px 10px;
    text-decoration: none
}

.pills a:hover {
    color: #A8BDD9
}

.pills__list {
    margin: 0
}

@media only screen and (max-width:767px) {
    .pills__list {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
}

.pills__item {
    display: inline-block;
    position: relative;
}

.pills__item.is__active {
    font-weight: bold;
}

.pills__item.is__active::after {
    border-bottom: 2px solid #A8BDD9;
    bottom: 0;
    content: '';
    left: 5px;
    position: absolute;
    right: 5px;
}

.pills__guestbook li {
    margin: 0 5px;
}

.pills__guestbook li:last-child {
    margin-right: 0;
}

.pills__guestbook li:first-child {
    margin-left: 0;
}

.pills--boxed .pills__item {
    border: 1px solid transparent;
}

.pills--boxed .pills__item.is__active {
    background: #fff;
    border-color: #e4e4e4;
}

.pills--boxed .pills__item.is__active::after {
    display: none;
}

.cursor-pointer {
  cursor: pointer;
}
